name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]  # O 'master', revisa cómo se llama tu rama principal

  # Permite ejecutarlo manualmente desde la pestaña Actions
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true # Activa esto si usas archivos grandes (modelos .pkl, .h5)
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://mitchell:$HF_TOKEN@huggingface.co/spaces/grapako/dashboard-untref-laboratorio main
